<html>

<head>
<link href="css/home_page.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1> OurApp </h1>
</div>

<div class="container1">
<button type="submit3" onclick="location.href='/myprofile';"> profile </button>
<button type="submit"> Create Post </button>
<button type="submit2"> Sign Out </button>
<button type="submit4" onclick="location.href='/search';"> Search </button>
</div>


</body>

</html>
