<html>
<head>
<link href="css/home_style.css" rel="stylesheet">
</head>
<body>

<div class="container">
<h1> OurApp </h1>
</div>
<div class="container1">
<form action="signin" method="POST">
<input type="text1" placeholder="Username" name="username">
<input type="password1" placeholder="Password" name="password">
<button type="submit"> Sign In </button>
</form>
</div>


<div class="container3">
<h1> Social media app </h1>
<img src="/images/social_media.jpg"  width="770" height="500">
</div>

<div class="container2">
<form action="signup" method="POST">
<label for="username"><b> Username </b></label><br>
<input type="text2" placeholder="Pick a username" name="username"><br>

<label for="email"><b> Email </b></label><br>
<input type="text3" placeholder="you@gmail.com" name="email"><br>

<label for="password"><b> Password </b></label><br>
<input type="password" placeholder="Create a password" name="password"><br>

<button type="login"> Sign up for OurApp </button>
</form>
</div> 





</body>

</html>
