<html>
    <head>
        <link href="css/profile.css" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <button type="submit" onclick="location.href='/home';"> Home</button>
    </div>
    <div class="container1">
        <h1>
	<%= firstname %>
</h1>
    </div>
</body>
    </html>
