<html>
<head>
<link href="css/profile.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    <button type="submit" onclick="location.href='/home';"> Home</button>
    <button type="submit1" onclick="location.href='/chat';"> Chat </button>
</div>
<div class="container1">
<h1>
    <%= firstname %>
</h1>
</div>
    <div class="container2">
<h1> 
    Posts:
    Followers:
    Following:
</h1>
</div>
</body>
</html>
