<html>

<body>
<div class = "container">
<form action="searching" method="POST">
<input type = "text" placeholder = "search..." name = "username">
<button type="submit"> search </button> 
</form>
</div>

</body>
</html>
