body{
	box-sizing: border-box;
}
.container {
	margin-right: 550px;
	height: 70px;
	background-color: rgb(6,26,27);
}
.container1 {
	height: 70px;
	margin-top: -70px;
	margin-left: 750px;
	background-color: rgb(6,26,27);
}
.container h1 {
	padding: 10px 300px;
	color: white;
}
button[type = submit3] {
	margin-left: 200px;
	margin-top: 22px;
	background-color: grey;
	color: white;
	border: none;
	cursor: pointer;
	padding: 6px 10px;
	border-radius: 4px;
}

button[type = submit] {
	margin-left: 10px;
	background-color: green;
	color: white;
	border: none;
	cursor: pointer;
	padding: 6px 10px;
	border-radius: 4px;
}
button[type = submit2] {
	margin-left: 30px;
	background-color: grey;
	color: white;
	border: none;
	cursor: pointer;
	padding: 6px 10px;
	border-radius: 4px;
}

input[type=text] {
  width: 100px;
  margin-top: -25px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
input[type=text]:focus {
  width: 100%;
}
